@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $cor-principal;
    font-family: $fonte-texto;
    color: $cor-texto;
    font-size: 16px;
    line-height: 1.6;

}